@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Home - Dot NET Core</h1>
        <p class="lead">This page is rendered from .Net Core Application. Page Type is CSHTML page</p>
        <p><a href="http://www.asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">About Us</h2>
            <p>
                About Us Page will be served from Web form Application. Page type is ASPX Page
            </p>
            <p>
                <a class="btn btn-default" href="/About">Visit Page &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Contact Us</h2>
            <p>
                Contact Us Page will be served from Web form Application. Page type is ASPX Page
            </p>
            <p>
                <a class="btn btn-default" href="/Contact">Visit Page &raquo;</a>
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Privacy Policy</h2>
            <p>
                Privacy Policy Page is rendered from .Net Core Application. Page Type is CSHTML page
            </p>
            <p>
                <a class="btn btn-default" href="/Home/Privacy">Visit Page &raquo;</a>
            </p>
        </section>
    </div>
</main>
